@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap'); /* Импорт шрифта с Google Fonts*/
    
/* ---------------------------- Основные классы ---------------------------- */

.font-setting      /* Класс для работы с шрифтами */
{
    font-family: 'Oxygen', sans-serif;  /* Подключаем шрифт импортированный выше */ 
}

.flex-display   /* Класс определяющий расположение элемента в документе */
{
    display: flex;  /* Элемент ведёт себя как блочный и выкладывает содержимое согласно флекс-модели */
}

.flex-align-center     /* Класс определяющий пространство вокруг флекс-элементов */
{   
    align-items: center;         /* Флексы выравниваются по линии поперечной оси */  
}

.flex-justify-center   /* Класс определяющий пространство вокруг флекс-элементов вдоль главной оси контейнера */
{
    justify-content: center;     /* Флексы выравниваются по центру строки */
}

.flex-justify-around    /* Класс определяющий пространство вокруг флекс-элементов вдоль главной оси контейнера */
{
    justify-content: space-around;  /* Флексы равномерно распределяются по всей строке. */ 
}

.flex-direction-column  /* Класс определяющий пространство вокруг флекс-элементов вдоль главной оси контейнера */
{
    flex-direction: column;     /* Флексы распределяются вертикально */
}

/* ---------------------------- Классы заголовка ---------------------------- */

header /* <header> - тег, для работы с шапкой сайта */
{
    background-color: rgb(184, 174, 214);     /* Объявляем цвет фона шапки */
    border-bottom: 2px solid black;     /* Нижняя граница. 2 пикселя, жирная, цвет - чёрный */
}

a    /* <a> - тег, предназначенный для создания ссылок, имеет атрибут href, кадает адрес документа, на который следует перейти. */
{
    text-decoration: none;       /* По ум. ссылка в html всегда имеет подчёркивание, отключаем его для всех ссылок */
    color: black               /* По ум. ссылка в html всегда синего цвета, присваиваем все ссылкам чёрный цвет */
}

.header-refs    /* Класс для заголовка */
{
    margin: 28px 0px 28px 0px;      /* Внешний отступ. Сверху, справа, снизу, слева. */
    font-size: 300%;        /* Размер шрифта для текста в заголовке */
}

.header-refs:hover, .body-catalog-energy-name:hover, .footer-refs:hover     /* :hover - псевдокласс, срабатывает, когда пользователь наводит на элемент мышью */
{
    text-decoration: underline;     /* При наведении на ссылку в заголовке или названии товара или подвала снизу появляется линия */
}

.header-png      /* Класс для работы с картинкой в заголовке */
{
    margin: 0px 0px 0px 20px;  /* Внешний отступ слева */
}

/* ---------------------------- Классы туловища ---------------------------- */

body   /* <body> - тег, для работы с телом сайта */
{
    margin: 0px 0px 0px 0px;  /* Внешний отступ. Ставим 0 со всех сторон, что бы контент лучше распологался на странице */
    background-color: rgb(239, 234, 234);
}

.side-menu /* Класс определяющий боковое меню */
{
    margin: 80px 0px 0px 0px;   /* Внешний верхний отступ от заголовка */

    width: 210px;   /* Ширина контейнера */
    height: 470px;      /* Длина контейнера */

    background-color: rgb(184, 174, 214);   /* Фон контейнера */
    border: 2px solid black;                /* Граница со всех сторон. 2 пикселя, жирная, цвет - чёрный */
}

.side-menu-refs     /* Класс определяющий внешний отступ для ссылок внутри бокового-меню */
{
    margin: 10px 0px 10px 16px; /* Внешний верхний+нижний отступы и отступ слева, чтобы текст не прилегал к краю экрана */
    font-size: 140%;     /* Размер шрифта для текста в боковом меню */
}

.side-menu-refs:first-child /* :first-child - псевдокласс, который применяет оформление к первому дочернему элементу своего родителя. */
{
    margin-top: 10px;       /* Отступ сверху для центрирования ссылок внутри блока */
}

.hover-me:hover      /* :hover - псевдокласс, срабатывает, когда пользователь наводит на элемент мышью */
{
    color: rgb(119, 20, 30);    /* Цвет текста меняется на бордовый */
    text-decoration: underline;     /* При наведении на ссылки снизу появляются линии */
}

.body-block     /* Класс определяющий блоки с текстом. Благодаря flex-direction-column блоки выстраиваются в колонку */
{
    margin: 45px 0px 25px 100px;    /* Отступ сверху, снизу и сбоку для блоков */
    max-width: 1200px;      /* Определяем максимальный размер контейнера */
    font-size: 135%;    /* Размер шрифта для блоков с текстом */
}

.body-img      /* Класс определяющий отступ для картинки в туловище */
{
    margin: 0px 0px 0px 600px;  /* Отступ слева для изображения */
}

.body-author-n-map    /* Класс определяющий отступ для фотографии автора в туловище. Так же используется для позиционирования карты */
{
    margin: 0px 0px 0px 100px;
}

.body-catalog-block-1   /* Класс распологающий в себе картинки из каталогов */
{
    margin: 70px 0px 100px 130px;   /* Отступ сверху, снизу и слева */

    width: 170px;     /* Размер контейнера в ширину */
    height: 300px;      /* Размер контейнера в длину */
}

.body-catalog-energy-name   /* Класс определяющий положение названий энергетиков */
{
    margin: 10px 0px 0px 0px;   /* Отступ сверху, чтобы картинка не мешала */
    text-align: center;       /* Центрирование текста по центру блока */
    font-size: 110%;     /* Размер шрифта для азваний энергетиков */
}

.body-catalog-img:hover     /* :hover - псевдокласс, срабатывает, когда пользователь наводит на элемент мышью */
{
    transform: scale(1.03);     /* Увеличить элемент (при наведении) */
}

.parent:hover .body-catalog-img, .parent:hover .body-catalog-energy-name /* Пустой класс родитель */
{
    transform: scale(1.03);         /* При наведении на контейнер увеличивается картинка */
    text-decoration: underline;         /* При наведении на контейнер текст подчеркивается  */
}

/* ---------------------------- Классы подвала ---------------------------- */

footer   /* <footer> - тег, для работы с подвалом сайта */
{
    background-color: rgb(184, 174, 214);  /* Фон подвала */
    border-top: 2px solid black;       /* Верхняя граница. 2 пикселя, жирная, цвет - чёрный */
}

.footer-margin      /* Класс для отступа между подвалом и туловищем */
{
    margin: 20px 0px 0px 0px; /* Внешний верхний отступ */
}

.footer-refs       /* Класс для отступа между собой текста в подвале */
{
    margin: 5px 0px 5px 0px;        /* Верхний и нижний отступы */
    font-size: 120%;                /* Размер шрифта для ссылок в подвале */
}
